.searchbar {
  background-position: 0vh;
  background-size: 40%;
  background-image: url(https://image.shutterstock.com/image-vector/gaming-elements-dark-pattern-design-260nw-1757436587.jpg);
  border-radius: 15px;
  width: 85vh;
  height: 4vh;
  margin-left: 45vh;
  color: white;
  text-align: center;
  font-size: 2rem;
  color: yellow;
  box-shadow: 1px 2px 2px 2px darkorchid;
}
.searchbar:hover {
  color: yellowgreen;
  box-shadow: 2px 2px 2px 3px teal;
}
