@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

ul {
  padding-left: 30vh;

  list-style-type: none;
}

ul li {
  box-sizing: border-box;
  width: 10em;
  height: 2.5em;
  font-size: 18px;
  border-radius: 1em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 1.5em;
  transition: 0.3s;
  cursor: crosshair;
}

ul li:nth-child(odd) {
  background: linear-gradient(to right, #00ffff, darkorchid);
  text-align: left;
  padding-left: 5%;
  padding-top: -3%;
  transform: perspective(35vh) rotateY(45deg);
}

ul li:nth-child(even) {
  background: linear-gradient(to right, #00ffff, darkorchid);
  text-align: right;
  padding-right: 10%;
  transform: perspective(10px) rotateY(-45deg);
}

ul li:nth-child(odd):hover {
  transform: perspective(180px) rotateY(45deg);
  padding-left: 5%;
}

ul li:nth-child(even):hover {
  transform: perspective(180px) rotateY(-45deg);
  padding-right: 15%;
}
button {
  margin-left: -15px;
  margin-top: 5px;
  border-color: #009b77;
  height: 5.1vh;
  width: 20vh;
  font-size: 1.8rem;
  font-family: "DotGothic16";
  border-radius: 15px;
  background-color: darkorchid;
  color: black;
}

.input {
  text-align: center;
  font-size: 1rem;
  box-shadow: 1px 1px 5px 5px;
  border-radius: 45px;
  height: 4vh;
  color: darkorchid;
  background-color: transparent;
  margin-left: 35px;
  margin-top: 14px;
  margin-right: 25px;
}

.box {
  padding-left: 25px;
  display: flex;
  flex-direction: row-reverse;
}
