@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

ul {
  padding-left: 35vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

ul li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 10em;
  height: 2.5em;
  font-size: 18px;
  border-radius: 1em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 1.5em;
  transition: 0.3s;
  cursor: crosshair;
}

ul li:nth-child(odd) {
  background: linear-gradient(to right, #00ffff, darkorchid);
  text-align: left;
  padding-left: 15%;
  padding-top: 13%;
  transform: perspective(500px) rotateY(45deg);
}

ul li:nth-child(even) {
  background: linear-gradient(to left, #00ffff, darkorchid);
  text-align: right;
  padding-right: 10%;
  transform: perspective(400px) rotateY(-45deg);
}

ul li:nth-child(odd):hover {
  transform: perspective(180px) rotateY(45deg);
  padding-left: 5%;
}

ul li:nth-child(even):hover {
  transform: perspective(180px) rotateY(-45deg);
  padding-right: 15%;
}
button {
  height: 2.5vh;
  width: 15vh;
  font-weight: 100;
  font-family: "DotGothic16";
  border-radius: 15px;
  background-color: darkorchid;
  color: black;
}
.LOG {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2vh;
}
li {
  margin-top: 2vh;
  padding-left: 3vh;
  display: flex;
  flex-wrap: wrap;
}
.input {
  display: flex;
  border-radius: 45px;
  height: 4vh;
  color: yellow;
  background-color: transparent;
}
.box {
  display: flex;
  flex-direction: column-reverse;
}
