@import url("https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap");

.createUser {
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 45px;
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/ec/ff/7d/ecff7dfbaf2764923c2a1a73ed9112ef.jpg);
  background-size: 121%;
  color: yellow;
  justify-content: center;
  text-shadow: 1px 1px darkorchid;
  display: flex;
  flex-direction: column;
  border-bottom: 10vh;
  max-width: 100vh;
  height: 61vh;
  margin-left: 50vh;
  margin-bottom: 50em;
}
.createUserForm {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
} 
 
.createHeader{
  font-size: 5.5vh;
  font-family: "Ravi Prakash";
  margin-top: 0em;
  margin-bottom: 1em;
}
#Login-page{
  margin-top: 5em;
}
#Login-page:hover{
  background-color: yellow;
  color: purple;
}
.btnlabel{
  font-family: "Ravi Prakash";
  background-color: #000235;
  border-radius: 20px;
  padding: 5px;
  box-shadow: yellow 1px 1px 1px 1px;
  font-size: 2em;
  color: yellow;
  cursor: pointer;
}
#submitbutton:hover{
  background-color: yellow;
  color: purple;
}
#submitbutton{
  margin-left: 2em;
  margin-top: 5em;
}
#username{
  margin-left: 2em;
}
#iusername{
  border-radius: 1em;
  opacity: 0.7;
  padding-left: 1em;
}
#iemailsignup,#iverifypassword{
   border-radius: 1em;
   opacity: 0.7;
   padding-left: 1em;
}
#emailsignup{
  margin-left:2.5em;
}
#passwordsignup{
  margin-left: 2.7em;
  margin-top: 1em;
}
#ipasswordsignup{
  margin-top: 2.5em;
  margin-right: 3em;
  border-radius: 1em;
   opacity: 0.7;
   padding-left: 1em;
}
#verifypassword{
  margin-top: 1em;
}
#iverifypassword{
  margin-top: 2.5em;
  margin-right: 3em;
}