body {
  --navfooter-color: grey;
  --body-color: black;
}
html {
  background-image: url(https://media.istockphoto.com/vectors/vector-seamless-pattern-background-icon-vector-id1170275727?k=6&m=1170275727&s=612x612&w=0&h=GrMw64_iHMm-ectfliHlneMSb7eNoYFfuw81VPqfG94=);

  background-color: #17151c;
}
[alt="logo"] {
  max-height: 55vh;
  width: 55vh;
  border-radius: 45px;
  margin-top: 10vh;
  box-shadow: 10px 10px 10px 10px;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
